:root {
    --colour1: #ffffff;
    --colour2:  transparent;
    --speed: 1s;
  }

h1 {
    color: #121212;
}

#preload {
    background-color: #121212;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
}

.loading img {
    width: 700px;
    grid-row: 1;
    animation: intro 1s ease-out;
}

@keyframes intro {
    from {
        transform: scale(2, 2);
    }
    to {
        transform: scale(1, 1);
    }
}

@keyframes slide {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: 113px;
    }
  }
  .loading {
    height: 100%;
    display: grid;
    place-items: center;
  }
  .load-anim {
      grid-row: 2;
  }
  .loading .load-anim {
      margin-top: -500px;
    min-height: 60px;
    border-radius: 10px;
    width: calc(113px * 8);
    background-color: var(--colour2);
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 20px, var(--colour1) 20px, var(--colour1) 80px);
    animation: slide var(--speed) linear infinite;
    will-change: background-position;
  }
  @media only screen and (max-width: 450px) {
    .loading .load-anim {
      width: calc(113px * 3);
    }
  }
  @media only screen and (max-width: 350px) {
    .loading .load-anim {
      width: calc(113px * 2);
    }
  }