/*
  Created By Ligolas Neo Malicdem
  Made for APEC Schools Research Fair
  Contributors: Keishia Mae Bulseco;
  Designs:  Ligolas Neo Malicdem, Keishia Mae Bulseco;
*/


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: #000000;

}
.bodies {
    background: rgba(18, 18, 18, 1.5);
}
p {
    margin: 0;
    padding: 0;
}


/* Background */
.bg {
    background: #000000;

}
.imagecont {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-bottom: 100px;
}
.imagecont2 {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-bottom: 100px;
}
.creds {
    position: absolute;
    top: 200%;
    color: #fff;
    text-shadow: none;
}
.imagecontmob {
    display: none;
}
.imagecontmob2 {
    display: none;
}
.imagesizeintro {
    width: 100%;
    max-width: 100%;
}
/*GMeet*/
#headline {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
#headline:first-of-type {
    animation: showup 7s infinite;
}
#headline:last-of-type {
    width: 0px;
    animation: reveal 7s infinite;
}
#headline:last-of-type span {
    margin-left: -355px;
    animation: slidein 7s infinite;
}
@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

#mainmeet {
    margin-top: 30px;
}
/*Logo*/
#logo {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}
.logostyle {
  width: 300px;
}
.logostyle:Hover {
    transform: rotateZ(20deg);
}
.linepx {
    position: relative;
    margin-bottom: 100px;
}
#navtext {
    text-align: center;
    position: relative;
    top: 300px;
}

#navheader {
    font-size: 7vw;
    text-shadow: 0 0 15px #0aafe6, 0 0 15px rgba(10, 175, 230, 0);
    font-family: Times New Roman;
    color: #ffffff;
    letter-spacing: 5px;
}

#navheader .singler1 {
    text-shadow: 0 0 15px #FF0266, 0 0 15px rgba(10, 175, 230, 0);
    color: #FF0266;
}

#navheader .singler2 {
    text-shadow: 0 0 15px #d9b200, 0 0 15px rgba(10, 175, 230, 0);
    color: #d9b200;
}

/*Introduction*/
#introduction {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
}

#introduction .text {
    font-size: 15px;
    font-family: Times New Roman;
    font-weight: normal;
    color: #ffffff;
}

#nav-cont {
}

#nav-cont a, .subnavbtn {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.sub-home {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    transform: perspective(-10px);
}

#nav-cont:hover .sub-home {
    justify-content: center;
    margin-top: 53px;
}
}

#nav-main {
    position: sticky;
    top: 0;
    display: flex;
    overflow: hidden;
    justify-content: center;
    height: 100px;
}
#meet-des, #meet-des::after {
  width: 380px;
  height: 50px;
  font-size: 36px;
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(transparent 0%, #121212 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #ff0266;
  outline: transparent;
  position: relative;
  border-radius: 15%;
  display: block;
}

#meet-des::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'MEET LINK';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #ff0266 3%, #ff0266 5%, #212121 5%);
  text-shadow: -3px -3px 0px #212121, 3px 3px 0px #ff0266;
  clip-path: var(--slice-0);
}

#meet-des:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
@media screen and (max-width: 1920px) {
  
  #meet-des-mob {
    box-shadow: 0px 0px 0px 2px #ff0267;
    background:linear-gradient(to bottom, #121212 5%, #121212 100%);
    background-color:#121212;
    border-radius:10px;
    border:1px solid #ff0267;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:19px;
    padding:12px 37px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ff0267;
  }
  #meet-des-mob:hover {
    background:linear-gradient(to bottom, #121212 5%, #121212 100%);
    background-color:#121212;
  }
  #meet-des-mob:active {
    position:relative;
    top:1px;
  }
.meet-des-container-mobile {
   visibility: visible;
}
.meet-des-container {
    visibility: visible;
}
}
/*footer*/
#footer {
    position: relative;
    text-align: center;
    color: #ffffff;
    font-family: Consolas;
    font-size: 10px;
    text-shadow: 0 0 10px #0aafe6, 0 0 10px rgba(10, 175, 230, 0);
    left: 50%;
    transform: translate(-50%, -50%);
}

#footer .singler {
    color: #d9b200;
}
.apeclogo {
    width: 1000px;
    max-width: 100%;
    margin-bottom: 50px;
}
.apeclogomob {
    display: none;
}
/*Neon designs*/
.flick-slow {
    animation: flick 3s linear infinite;
}

.flick-fast {
    animation: flick 1s linear infinite;
}

@keyframes flick {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        //text-shadow: none;
        opacity: .99;
    }

    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.4;
    }
}

@media screen and (max-width: 375) {
    #navheader {
        font-size: 100px;
    }
}

.btnr {
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    text-shadow: 0 0 15px #0aafe6, 0 0 15px rgba(10, 175, 230, 0);
    background: #121212;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 5px;
}

.btnr:before {
    content: '';
    background: linear-gradient(90deg, #FF0266, #FAED27, #D9B200, #0AAFE6, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btnr:active {
    color: #121212;
}

.btnr:active:after {
    background: #212121;
}

.btnr:hover:before {
    opacity: 1;
}

.btnr:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.fadein {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*Tst*/
.beam {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid;
    background: linear-gradient(to top, rgba(255,0,0,0), rgba(255,0,0,1));
    margin-top: -40%;
}

.line {
    display: block;
    height: 2px;
    border: 0;
    border-top: 3px solid #FF0266;
    margin: 1em 0;
    padding: 0;
    margin-bottom: 100px;
}

.ufoanim {
    animation: ufoanim 5s ease;
}

@keyframes ufoanim {
    0% {
        transform: scale(0.1, 0.1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.picturecont {
    position: absolute;
    top: 92%;
    left: 10%;
    transform: translate( -50%, -50%);
}

.imgprop {
    width: 400px;
    border-radius: 5%;
    border: 2px solid #FF0266;
    box-shadow: 0 0 15px #8e1cfd, 0 0 15px rgba(10, 175, 230, 0);
    margin-left: 40px;
    margin-top: 100px;
}
.introparags {
  text-align: justify;
  color: white;
  font-size: 30px;
  border-left: 3px solid #FF0266;
  padding-left: 50px;
  margin-left: 10px;
  margin-right: 0;
  margin-top: 100px;
}
.footercont {
   
}
.container {
    width: 970px;
    margin: 100px auto;
    max-width: 100%;
    -webkit-transform: translateZ(1000px);
    transform: translateZ(1000px);
}
.section {
    width: 100%;
    float: left;
    overflow: hidden;
}
.main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    color: #FFF;
    text-align: center;
}
.mousepadcont {
    width: 1700px;
    max-width: 100%;
    height: 700px;
    border: none;
    outline: none;
    color: #fff;
    text-shadow: 0 0 15px #0aafe6, 0 0 15px rgba(10, 175, 230, 0);
    background: #121212;
    z-index: -1;
    border-radius: 5%;
    float: none;
}
.mousepadcont:before {
    content: '';
    background: linear-gradient(90deg, #FF0266, #FAED27, #D9B200, #0AAFE6, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    max-width: 100%;
}

.mousepadcont:active {
    color: #121212;
}

.mousepadcont:active:after {
    background: #212121;
}

.mousepadcont:hover:before {
    opacity: 1;
}

.mousepadcont:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}
.mousepadcont span {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1.5s linear;
}
.mousepadcont:hover span {
    visibility: visible;
    opacity: 1;
}
.mousepadcont .circdef {
   display:block;
}
.mousepadcont:hover .circdef{
    display: none;
}
.mousepadcont .pcbdef {
    display: block;
}
.mousepadcont:hover .pcbdef {
    display: none;
}
/*Positions*/
.mousepadpos {
   position: relative;
   margin: 100px;
   transform: translate(-50%, -50%);
}
.pcbapos {
   top: -67%;
   left: 2%;
   position: absolute;
   transition: opacity 3s;
   width: 300px;
   max-width: 100%;
}
.circpos {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10%;
}
.circdefpos {
    position: absolute;
    left: 9.7%;
    top: 2%;
    width: 1500px;
    max-width: 100%;
    max-height: 100%;

}
.aircoil {
  z-index: 1;
  position: absolute;
  left: 62%;
  top: 160%;
  transform: translate(-50%, -50%);
}
.pcbdefpos{
    position: absolute;
    left: 2%;
    top: -3%;
    width: 300px;
    max-width: 100%;
}

.mouse {
  z-index: 1;
  position: absolute;
  left: 72%;
  top: 160%;
  transform: translate(-50%, -50%);
}
.mousepadcont2 {
    display: none;
}
.sliderpos {
    position: absolute;
    top: 20%;
}
body[data-aos-duration='6000'] [data-aos],
  [data-aos][data-aos][data-aos-duration='6000'] {
    transition-duration: 7000ms;
  }

  .shout {
    position: absolute;
    top: 240%;
    left: 40%;
  }
  .shouts {
    color: white;
  }
  .shouts:Hover {
    color: #FF0266;
  }
  .apecstylelogo {
    width: 700px;
    opacity: 0.3;
    max-width: 100%;
  }
  .lineposfoot {
    position: absolute;
    top: 570%;
    left: 25%;
  }
  .apecstylelogophone {
    display: none;
  }
  /* Phone */

  @media screen and (max-width: 1024px) {
  .imagecont {
    display: none;
  }
  .apeclogo {
    display: none;
  }
  .introparags {
    color: white;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
    text-decoration: none;
    font-weight: 700;
    font-style: bold;
    margin-left: 0px;
    font-family: Brown-Pro-Bold,Helvetica,Arial,sans-serif;
    line-height: 1.06667;
    letter-spacing: 0;
    border-left: 0;
  }
  .another-line {
    margin-left: 5px;
    margin-right: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-top: 3px solid #ff0266;
  }
  .apeclogomob {
    display: block;
    width: 100px;
    max-width: 100%;
    margin-bottom: 50px;
    margin: auto;
  }
  .imagecont {
    display: none;
  }
  .imagecont2 {
    display: none;
  }
  .imagecontmob {
    display: block;
  }
  .imagecontmob2 {
    display: block;
    margin-top: 100px;
  }
  .textmobcont .textmobcont2 {
    display: block;
  }
  .intromob {
    color: white;
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
    text-decoration: none;
    font-weight: 700;
    font-style: bold;
    margin-left: 40px;
    font-family: Brown-Pro-Bold,Helvetica,Arial,sans-serif;
    line-height: 1.06667;
    letter-spacing: 0;  
    margin-top: 50px; 
  }
  .intromob {
   color: white;
   font-size: 30px;
   text-align: left;
   margin-bottom: 20px;
   text-decoration: none;
   font-weight: 700;
   font-style: bold;
   margin-left: 40px;
   font-family: Brown-Pro-Bold,Helvetica,Arial,sans-serif;
   line-height: 1.06667;
   letter-spacing: 0;

  }
 .intromobp {
    color: white;
    text-align: left;
    font-size: 20px;
    text-align: left;
    margin-right: 20px;
    margin-left: 40px;
    font-family: Brown-Pro-Bold,Helvetica,Arial,sans-serif;
    font-weight: 1;
  }
  .intromob2 {
    color: white;
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
    text-decoration: none;
    font-weight: 700;
    font-style: bold;
    margin-left: 40px;
    font-family: Brown-Pro-Bold,Helvetica,Arial,sans-serif;
    line-height: 1.06667;
    letter-spacing: 0;

  }
  .intromobp2 {
      color: white;
      text-align: left;
      font-size: 20px;
      text-align: left;
      margin-right: 20px;
      margin-left: 40px;
      font-family: Brown-Pro-Bold,Helvetica,Arial,sans-serif;
      font-weight: 1;
  }
  .mousepadpos {
    display: none;
  }
  .mouse {
    display: none;
  }
  .logo
  }
  .meet-des-container {
   visibility: hidden;
  }
  .meet-des-container-mobile {
    display: block;
  }
  #mainmeet {
    margin-top: 20px;
  }
}