body, html {
  background-color: #121212;
  padding: -100px;
  max-height: 12958091275px;
  margin-bottom: 0px;
}

h1, h2, h3, h4, h5, p {
  color: white;
}
.Logo {
  font-family: Anurati;
  font-weight: bold;
}
.Logo:before {
  color: #00FFE4;
}
.Logo:Hover {
  color: red;
}
.navigation {
  height: 70px;
  background: #262626;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #822630;
  color: #262626;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 600px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
.center {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 1000px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font: ;
  margin-top: 600px;
}
.centertitle {
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}


.PipeMAINCon{
  margin:50px;
  float: left;
  width: auto;
  position: relative;
  left: 20%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
div.PipeMAINCon img{
  width: auto;
  max-width: 400px;
}
.PipeMAINCon:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#Footer{
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 10px;
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
.text {
  text-align: center;
}
.maintenance {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #262626 0.3;
}

.maintenancePipe{
  background-color: #262626;
  margin: 15%;
  padding: 20px;
  max-width: 80%;
}
.cL {
  color: red;
  float: right;
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.cL > div {
  position: relative;
}
.cL-block {
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.cL-block:before, .cL-block:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(55% - 4px);
  display: block;
  width: 4px;
  height: 25px;
  transform-origin: bottom center;
  background: white;
  transition: all ease-out 280ms;
  color: red;
}
.cL-block:last-of-type {
  transform: rotate(180deg);
}
.cL .in .cL-block:before {
  transition-delay: 280ms;
  transform: translateX(20px) translateY(-20px) rotate(45deg);
}
.cL .in .cL-block:after {
  transition-delay: 280ms;
  transform: translateX(-22px) translateY(-22px) rotate(-45deg);
}
.cL .out {
  position: absolute;
  top: 0;
  left: 0;
}
.cL .out .cL-block:before {
  transform: translateX(-5px) translateY(5px) rotate(45deg);
}
.cL .out .cL-block:after {
  transform: translateX(5px) translateY(5px) rotate(-45deg);
}
.cL:hover .in .cL-block:before {
  transform: translateX(-5px) translateY(5px) rotate(45deg);
}
.cL:hover .in .cL-block:after {
  transform: translateX(5px) translateY(5px) rotate(-45deg);
}
.cL:hover .out .cL-block:before {
  transform: translateX(-20px) translateY(20px) rotate(45deg);
}
.cL:hover .out .cL-block:after {
  transform: translateX(20px) translateY(20px) rotate(-45deg);
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.Btn {
  box-shadow:inset 0px 0px 18px 0px #ff0000;
  background-color:#000000;
  border-radius:7px;
  border:1px solid #ff0000;
  display:inline-block;
  cursor:pointer;
  color:#0afaee;
  font-family:Times New Roman;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #0a0909;
}
.Btn:hover {
  background-color:#cc4343;
}
.Btn:active {
  position:relative;
  top:1px;
}
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
.fadeout {
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
}
