/*
 Designed:  Ligolas Neo Malcidem
 Copyright:  MIT2021;
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Zilla+Slab:wght@300&display=swap');

h1,p {
   color: white;
}
.black {
	color: black;
}

body {
	background: #212121;
}
#bodyif {
	margin: 0, auto;
	position: relative;
	display: flex;
	justify-content: center;
}
.Title-Header {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 200px;
	font-size: 100px;
	font-family: coldiac;
}
.piron-text {
	display: flex;
	justify-content: center;
	margin: 100px;
}
.piron-img {
	width: 1000px;
}
#navtext {
	text-align: center;
}
.RU-text {
	font-family: Montserrat;
	text-transform: uppercase;
	font-weight: 100;
	background: -webkit-linear-gradient(#CC8899, #ffffff);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
}
.btnr {
	background-color:black;
	border-radius:7px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Zilla Slab', serif;
	font-size:21px;
	font-weight: 199;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
	margin-left: 10px;
}
.btnr:hover {
	background-color:#383838;
}
.btnr:active {
	position:relative;
	top:1px;
}

.Construction {
	text-align: center;
	margin: 100px;
}
.Construction p {
	font-size: 30px;
}
.Construction h1 {
	font-size: 70px;
}
.fas {
	color: grey;
}