/*
  Created By Ligolas Neo Malicdem
  Made for APEC Schools Research Fair
  Contributors: Keishia Mae Bulseco;
*/

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

html,
body {
  height: 99.9%;
  border: 1px solid #c808c8;

}

body {
  background: #000000;
  box-shadow: inset 0 0 15px #FF0266, 0 0 15px rgba(10, 175, 230, 0);
}

.bodies{
  background: rgba(18, 18, 18, 1.5);
}

p {
  margin: 0;
  padding: 0;
}

.center {
  height: 200px;
  position: relative;
}

/* Background */
.bg {
	background-color: #00000;
}

/*Logo*/
#logo {
 text-align: center;
 position: absolute;
 left: 50%;
 top: 25%;
 transform: translate(-50%, -50%);
}
#navtext {
 text-align: center;
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%); 
}
#navheader {
 font-size: 7vw;
 text-shadow: 0 0 15px #0aafe6, 0 0 15px rgba(10, 175, 230, 0);
 font-family: Times New Roman;
 color: #ffffff;
 letter-spacing: 5px;
}
#navheader .singler1 {
 text-shadow: 0 0 15px #FF0266, 0 0 15px rgba(10, 175, 230, 0);
 color: #FF0266;
}
#navheader .singler2 {
 text-shadow: 0 0 15px #d9b200, 0 0 15px rgba(10, 175, 230, 0);
 color: #d9b200;
}
/*Introduction*/
#introduction {
 text-align: center;
 position: absolute;
 left: 50%;
 top: 55%;
 transform: translate(-50%, -50%); 
 margin-top: 100px;
}
#introduction .text {
  font-size: 15px;
  font-family: Times New Roman;
  font-weight: normal;
  color: #ffffff;
}
#nav-cont {
    
  }

  #nav-cont a, .subnavbtn {
   -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }

  .sub-home {
    display: none;
    position: absolute;
    right: 0;
    left: 0; 

    z-index: 1;   
    transform: perspective(-10px);
  }

  #nav-cont:hover .sub-home {
    justify-content: center;
    margin-top: 53px;
  }
}
#nav-main {
  position: sticky;
  top: 0;
  display:flex;
  overflow:hidden;
  justify-content: center;
  height: 100px;
}
/*Mousepad*/
#mousepad{

}
/*Anatomy*/
#anatomy {

}

/*footer*/
#footer {
	position: absolute;
	bottom: 0;
	margin-bottom: 10px;
	left: 0;
	width: 100%;
	text-align: center;
	color: #ffffff;
	font-family: Consolas;
	font-size: 10px;
	text-shadow: 0 0 10px #0aafe6, 0 0 10px rgba(10, 175, 230, 0);
}
#footer .singler {
  color: #d9b200;
}

/*Neon designs*/
.flick-slow{
  animation: flick 3s linear infinite;
}
.flick-fast{
  animation: flick 1s linear infinite;
}
@keyframes flick {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    //text-shadow: none;
    opacity: .99;
    
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
  }
}
@media screen and (max-width: 375){
  #navheader {
    font-size: 100px;
  }
}

.btnr {
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    text-shadow: 0 0 15px #0aafe6, 0 0 15px rgba(10, 175, 230, 0);
    background: #121212;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btnr:before {
    content: '';
    background: linear-gradient(90deg, #FF0266, #FAED27, #D9B200, #0AAFE6, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btnr:active {
    color: #121212;
}

.btnr:active:after {
    background: #212121;
}

.btnr:hover:before {
    opacity: 1;
}

.btnr:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.fadein {
    animation: fadeIn 15s;
    -webkit-animation: fadeIn 15s;
    -moz-animation: fadeIn 15s;
    -o-animation: fadeIn 15s;
    -ms-animation: fadeIn 15s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/*Tst*/
.beam {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 200px solid;
  background: linear-gradient(to top, rgba(255,0,0,0), rgba(255,0,0,1));
  margin-top: -40%;
}
.line {
  display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #c808c8;
      margin: 1em 0;
      padding: 0;
}
.ufoanim {
  animation: ufoanim 5s ease;
}

@keyframes ufoanim {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}