@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
:root {
  --header-height: 3rem;
  --first-color: rgba(119, 186, 0, 0.7);
  --dark-color: rgba(18, 18, 18, 0.9);
  --dark-color-alt: #282B3A;
  --white-color: #E6E7E9;
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  background-color: var(--dark-color);
  z-index: var(--z-fixed);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  animation: bounceup 0.5s;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: var(--white-color);
}

.header__toggle {
  font-size: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--dark-color);
    color: var(--white-color);
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: var(--z-fixed);
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.nav-content {
  height: 100%;
  -ms-grid-rows: max-content 1fr max-content;
      grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
      grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}

.nav-close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: .25rem;
  background-color: var(--dark-color-alt);
  border-radius: 50%;
  cursor: pointer;
}

.nav-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: .25rem;
  margin-bottom: .8rem;
  width: 56px;
  height: 56px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
}

.nav-logo img {
  width: 46px;
}

.nav-logo-name {
  display: block;
  color: var(--white-color);
}

.nav-texter {
  font-size: var(--small-font-size);
}

.nav--menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-item {
  margin: 2.5rem 0;
}

.nav-link {
  color: var(--white-color);
}

.nav-cart {
  padding-top: .5rem;
}

.nav-cart-icon {
  font-size: 1.2rem;
  color: var(--white-color);
  margin-right: 1rem;
}

.nav-cart-icon:hover {
  color: var(--first-color);
}
.show {
  left: 0;
}
.active {
  color: var(--first-color);
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .header {
    height: calc(var(--header-height) + 1rem);
  }
  .header__logo, .header__toggle {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav-content {
    -ms-grid-columns: (max-content)[3];
        grid-template-columns: repeat(3, -webkit-max-content);
        grid-template-columns: repeat(3, max-content);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-close, .nav-texter {
    display: none;
  }
  .nav-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-img {
    width: 32px;
    height: 32px;
    margin-right: .5rem;
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-img img {
    width: 26px;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-item {
    margin: 0 .25rem;
  }
  .nav-link {
    padding: .5rem .8rem;
    border-radius: .25rem;
  }
  .nav-link:hover {
    background-color: var(--first-color);
  }
  .active {
    background-color: var(--first-color);
    color: var(--white-color);
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

@keyframes bounceup {
  0% {
    top: -100%;
  }
  50% {
    top: 3%;
  }
  100% {
    top: 0%;
  }
}