body {
    background-color: #121212;
    
}
section {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin-left: 0px;
    background: #0f0d13;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: left;
}

.text-center {
    content: center;
    text-align: center;
    place-content: center;
    place-items: center;
    margin: 50px;
}

.h1 {
}

.player {
    width: 320px;
    height: 500px;
    background: rgba(42, 33, 65, 0.9);
    border-radius: 10px;
    color: #e1e1e6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    margin-left: 10px;
}

.player>div:first-child {
    width: 240px;
}

.player>div:first-child>img {
    border-radius: 10px;
    width: 240px;
    height: 240px;
}

.player>div:first-child>h3 {
    font-size: 24.5px;
    margin-top: 15px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player>div:first-child>h4 {
    font-size: 19px;
    font-weight: 100;
    margin: 0px;
    color: #a5a2b0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player>div:last-child {
    height: 100px;
    width: 240px;
}

.player>div:last-child>.bar {
    width: 100%;
    height: 6px;
    margin: 15px 0px 10px 0px;
    border-radius: 4px;
    background-color: #5e586f;
    overflow: hidden;
    cursor: pointer;
}

.player>div:last-child>.bar>* {
    background-color: #c0bfc4;
    width: 0%;
    height: 100%;
}

.player>div:last-child>div:last-child {
    color: #a5a2b0;
    display: flex;
    justify-content: space-between;
}

.player>div:last-child>div:first-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.player>div:last-child>div:first-child {
    margin: 20px 0;
}

.player>div:last-child>div:first-child>img {
    cursor: pointer;
}
.homeBtn {
	background-color:#121212;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #fcfffc;
    transition: 300ms ease;
}
.homeBtn:hover {
	background-color:#ffffff;
    color: #121212;
}
.homeBtn:active {
	position:relative;
	top:1px;
}
