

.scrollHalf { position: relative;}
/*.scrollHalf__grupo { opacity: calc(1/(1+(var(--visible-y)*var(--visible-y)*var(--visible-y)*var(--visible-y)))); transition: all 200ms ease-in-out;}*/


.scrollHalf__grupo {  transition: all 100ms ease-in-out; }
.scrollHalf__grupo__imagen { 
  overflow: hidden;
  width: 100%;
  }
.scrollHalf__grupo__contenido { padding: 3rem;     }
.spinach { 
  position: absolute;
  top: 200%;

 }

.scrollHalf__grupo[data-scroll="out"] { opacity: 0;}
.scrollHalf__grupo[data-scroll="in"] { opacity: calc(var(--visible-y)*1.6);  }  


@media screen and (min-width:900px) {
  .scrollHalf__grupo { min-height: 100vh;}
  .scrollHalf__grupo__imagen { position: fixed; top: 0; left: 0; width: 100%;}
  .scrollHalf__grupo__imagen img {  min-height: 100vh;  min-width: 100vw; }
}