/*
  Created By Ligolas Neo Malicdem
  Made for APEC Schools Research Fair
  Contributors: Keishia Mae Bulseco;
  Designs:  Ligolas Neo Malicdem, Keishia Mae Bulseco;
*/


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

asdas    height: 100%;
    width: 100%;
}
as
body {
    basdasdasdase;
}
/*Introduction*/
#introduction {
    text-align: center;
    positionsadas
    position: relative;
    text-align: center;
    color: #ffffff;
    font-family: Consolas;
da    sd: 0 0 10px #0aafe6, 0 0 10px rgba(10, 175, 230, 0);
    left: 50%;
    transform: translate(-50%, -50%);
}

#footer .singler {
    color: #d9b200;
}
.apeclogo {
    width: 1000px;
    max-width: 100%;
    margin-bottom: 50px;
}
.apeclogomob {
    display: none;
}
/*Neon designs*/
.flick-slow {
    animation: flick 3s linear infinite;
}

.flick-fast {
    animation: flick 1s linear infinite;
a
@keyframes flick {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        //text-shadow: none;
        opacity: .99;
    }

    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.4;
    }

asd@media screen and (max-width: 375) {
    #navheader {
        font-size: 100px;
    }asd 5px;
}dsa
    color: #121212;
}

.btnr:active:after {
    background: #212121;
}

.btnr:hover:before {
    opacity: 1;
}

.btnr:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    bordesdasdra-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% dasas
        background-position: 0 0;
    }
}

.fadein {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    asdasd0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
  dasas  }

    100% {
        opacity: 1;
    }sd
}a

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
sdas
/*daTst*/
.as {
    dasdwidth: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px as;
    bac3123und: linear-gradient(to top, rgba(255,0,0,0), rgba(255,0,0,1));
    ma12in-t1p3 -40%;
213123112
.line {3
    displ13: block;
    height: 13x;
    border: 0;13
    border-top: 3px solid #FF0266;
13  margin: 1em 0;
   24adding: 0;
    ma4gin-bottom: 100px;
}2E

1Rfoanim {
   Tanimation: ufoanim 5s ease;
}RF

FAEyframes ufoanim {
   AS% {
        transform: scale(0.1, 0.1);
    }
2112
    512 {
        21ansform: scale(1.5, 1.5);
    }
12
  12100% {
     12 transform: scale(1, 1);
    }
12

4514t12econt {
    po3ition: absolute;
    top:122%;
    left: 412;12
    transform:14421slate( -50%, -50%);
}12
3
.i1341o12{
    w1dth: 400px;
    border4radius: 5%;
    border: 14x solid #FF0266;
    box-shadow:14 0 15px #8e1cfd, 0 0 15px rgba(10, 175, 230, 0);
    margin-left: 424x;
    margin-top: 100121
412
.in14oparags {
  text4align: justify;
  color:14hite;
  font-siz12 30px;
  border-left1 4p12solid #FF0266;
  padding-left: 504x;
  margin-left: 10px;14
  margin-right: 0;
24margin-top: 100px;
}14
.foo14rcont {
   14
}24
.co24ainer {
    wi14h: 970px;
    margi14 100px auto;
    max-widt14 100%;
    -webkit-tr21sform: translateZ(1000px);
    transform: tr12slateZ(1000px);
}
4section {
 14 width: 100%;
    25oat: left;
    ove125ow: hidden;
}
124in {
   SDFdth: 100%;
    heASDF: 100vh;
    posi4ion: relative;
    overfl14: hidden;
    color: 212F;
    text-align:12enter;
}QS
.moFQepadcont {
    wiDRh: 1700px;
    max-1idth: 100%;
    height1 700px;
    border: ESne;
    outline: nRQW;
    color: #fff;R1
    text-shadow: 0 2415px #0aafe6, 0 0 15px rgba(10, 175, 230, 0);
    background: #121214;
    z-index: -1;FS
    border-radius: 5%;    float: none;
AQ
.mEQW14adcont:before {
    cont24t: '';
    backg124nd: linear-gradient(90deg, #FF0266, #FAED27, #D9B200, #0AAFE6, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    positionWSabsolute;
    top: -2px;
Q   left: -2px;
  WRbackground-size: 400%;
    4-index: -1;
    f24t4r: blur(5px);
    width:24alc(100% + 4px);
    height:QWEFQW100% + 4px);
    animation: gloR14g 20s linear infinite;
    opacity: 0SDA
    transition: opacity .3s ease-in-out;
A S border-radius: 10px;
   Dmax-width: 100%;
}24

34ousepadcont:active {
 W REEFL;RJQWOIEJO[P 12 
 1
 24
  U2412 I12  124P[ J HOQDFA
  D]
12}124
12
.m414ousepadcont:active:after {
    background: #212121;
}
214
.mo1152usepadcont:hover:before {
    op5acity: 1;
AD}

ADS.mousepadcont:after {
  21  z-index: -1;
    c4ontent: '';
    poA1sition: absolute;
    widtSDAFh: 100%;
    height: SDA100%;
    background: S142#111;
    left: 0;241
    top: 0;
241    border-radius: 10px;
}ASD

AF@keyframes glowing {   0% {
 2       background-position: 0 0;
  411  }
142
  D  50% {
    AF    background-position: 400% 0;
    }

4    100% {
RADGRY        background-position: 0 0;
    }HET 
}Y
.1Rmousepadcont span {HNM 

    DSFASJDAJSKL,2E
    deSA
    opac4ty: 0;
    transition: visibility 0s, opacity 1.5s linear;
}
SDHMGJAFMAKNMRQ4  KANSKLDM3

AFer span {
  1  visibility: visible;
    124opacity: 1;
41}
.mo24usepadcont .circdef {
   dADGQHJAKLMFJKANRMHB`    K IO`HU9RHQEOFMLANFUAHKOFNAJBTLQKMR R
WRQQRW
   A'FAHAQWisplay:block;
R}
.RQmousepadcont:hover .circdef{
  QRW  display: none;
}RQ
.moRQuADFKANHQ3sepadcont .pcbdef {
    dQisplay: block;
}
QWRQRR.mousepadcont:hover .pcbdef {
  A/L;'DFNM HOIQKW;RL;QW HQKJKRQWJR HQWJRJKQW RHQORIJQPITHOADFMAJKNFKANDAJBFANFJNBT31RNQJKBER
  RF  display: none;
}
Q/*Positions*/
.mousepadpos {
   position: rWRelative;
   margin: 100pxQ;
   transform: translate(-50%, -50%);
}
.pcbapos {QR
   top: -67%QWR;
   left: 2%;QRW
   position: aRQbsolute;
   transition: oQWpacity 3s;
   width: 300px;
RQQ   max-width: 100%;
}
R.circpos {
RQRQ    position: absolute;
   RQRW top: 0;
    leRQQft: 0;
    marQWQWn-left: 10%;
}Q
Wcircdefpos {
 Q  position: absolute;
   WReft: 9.7%;
    tGKAASDJKOAHNDKLMAL;';1\[]IYUHFL LIGOLAS NEO MALCKDE
  QT;JKQJIOGHDFYUIOqeghfujilWENFKL;ASFHJIG Jwg jweraiop[g hetilwgjwrtyoijh
D4  width: 1500px;
    max-width: 100%;
    max-height: 100%;

}
.aircoil {
  z-index: 1;
  position: absolute;
  left: 62%;
  top: 160%;
  transform: translate(-50%, -50%);
}
.pcbdefpos{
    position: absolute;
    left: 2%;
    top: -3%;
    width: 300px;
    max-width: 100%;
}

.mouse {
  z-index: 1;
  position: absolute;
  left: 72%;
  top: 160%;
  transform: translate(-50%, -50%);
}
.mousepadcont2 {
    display: none;
}.sliderpos {
    position: absolute;
    top: 20%;
}
body[data-aos-duration='6000'] [data-aos],
  [data-aos][data-aos][data-aos-duration='6000'] {
    transition-duration: 7000ms;
  }

  .shout {
    position: absolute;
    top: 240%;
    left: 40%;
  }
  .shouts {
    color: white;
  }
  .shouts:Hover {
    color: #FF0266;
  }
  .apecstylelogo {
    width: 700px;
    opacity: 0.3;
    max-width: 100%;
  }
  .lineposfoot {
    position: absolute;
    top: 570%;
    left: 25%;
  }
  .apecstylelogophone {
    display: none;
  }
  /* Phone */
r
  @masdasedasdasdia screen and (max-width: 1024px) {
  .iqrwmagesdasdcont {a
    wdisplay: none;
  }qr
  .apqeclogo {
    rqdisplay: none;
  }rq
  .introparargs {
    color: qwrwhite;
    font-srize: 20px;
    text-qwralign: left;
    marqwgin-bottom: 20px;
    texrt-decoration: none;
    font-weight: 700;
    font-style: bold;
    margian-left: 0px;
    fontvaw-family: Brown-Pro-Bold,Helvetica,Arial,sans-serif;
    liqwene-height: 1.06667;
    qewletter-spacing: 0;
    border-left: 0;
  }qq
  .anothaer-line {
    maraggin-left: 5px;
    marrgin-right: 200px;
    mawrrgin-bottom: 10px;
    mfsargin-top: 10px;
    fborder-top: 3px solid #ff0266;
  }afs
  .apeclogomob {
    dispqewlay: block;
    wiqewdth: 100px;
    meax-width: 100%;
    mtaargin-bottom: 50px;
    sdmargin: auto;
  }ad
  .imaasdgecont {
    asdisplay: none;
  }ads
  .imadsagecont2 {
    ddisplay: none;
  }dsa
  .imaagecontmob {
   ads display: block;
  dsa}
  .imageadscontmob2 {
    diadssplay: block;
    mdaargin-top: 100px;
  }ads
  .textadsmobcont .textmobcont2 {
    didssplay: block;
  }adas
  .intromob {
    color: white;
    font-size: 3ad0px;
    text-align:a left;
    margin-botdatom: 20px;
    text-decadoration: none;
    font-wedight: 700;
    font-dastyle: bold;
    marasdgin-left: 40px;
    fasont-family: Brown-Pro-Bold,Helvetica,Arial,sans-serif;
    line-height: 1.06667;
    ledtter-spacing: 0;  
    damargin-top: 50px; 
  }a
  .intromob {ad
   color: white;d
   font-size: 30psax;
   text-align:asd left;
   margin-botdtom: 20px;
   text-decasoration: none;
   font-weight: 700;
   font-style: bold;
   margdsdain-left: 40px;
   foasdnt-family: Brown-Pro-Bold,Helvetica,Arial,sans-serif;
   asdline-height: 1.06667;
 asd  letter-spacing: 0;
as
  }da
 .intromobp {ads
    color: whiadste;
    text-aligdan: left;
    font-siadsze: 20px;
    text-adsalign: left;
    margdsin-right: 20px;
    maadsrgin-left: 40px;
    sdafont-family: Brown-Pro-Bold,Helvetica,Arial,sans-serif;
   da font-weight: 1;
  d}
  .intromoadb2 {
    coloasr: white;
    fonsdat-size: 30px;
    tedxt-align: left;
    mardgin-bottom: 20px;
    tasexast-decoration: none;
    fadsont-aweight: 700;
    fontds-style: bold;
    mardsgin-left: 40px;
    adasfont-family: Brown-Pro-Bold,Helvetica,Arial,sans-serif;
  ads  line-height: 1.06667;
  d  letter-spacing: 0;
asd
  }a
  .intromobp2 d{
      color: white;ads
      text-align: lefasdt;
      font-size: 20sdpx;
      text-align:da left;
      margin-riasght: 20px;
      margin-ldeft: 40px;
      font-fasamily: Brown-Pro-Bold,Helvetica,Arial,sans-serif;
      fonasdt-weight: 1;
  }
  .mousepadpos {
    disadplay: none;
  }gadg
  .mouse {
    sgfdisplay: none;
  hd}
  .logo
  }
  .meet-des-container {
   visibility: hidden;
  }
  .meet-des-container-mobile {
    display: block;
  }
}
.keyboard-type {
    display: none;
    display: inline-block;
    display: inline-flex;
    float: left;
    -webkit @marker-end: s\;
    padding: 10px;
    clock on type here i am typing anything cause i really dont know why and this shit is so fucking good to use wtf oh my god i still dont know why im typing but hey, to each their own. 



    asldkpasndklanskdbnajklsndklashidnkl3wruhqwlkejd iqhjwrihq  qiwhirh qwirhiqqmasndfmabf qiwhr8ywrj`lk4hn8y9wr    owmd\`2
}asdasdasdmkl bjo adakmsdklajs ijdiqw10481349u125hjjk12n 