/*
   Made By:  Ligolas Neo Malicdem;
   APEC SCHOOLS C.RAYMUNDO
   C-12STEM-2
   @ln_malicdem

   For Student Counsil
*/

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');

#wrapper {
	background: #ffeaaa;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/* Nav */
.nav-container {
	height: 20vh;
	width: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
}
.nav-list {
	display: flex;
	margin-left: 250px ;
}
.nav-list li {
	font-size: 20px;
	padding: 10px;
	margin: 0 5px;
	text-transform: capitalize;
	list-style: none;
	text-decoration: none;
	font-family: 'Courier Prime', monospace;
	font-weight: 700;
}
.nav-list a {
	color: black;
}
.logo-size {
	width: 400px;
	max-width: 100%;
}
.default-logo {
	display: block;
}
.mobile-logo {
	display: none;
}
/*Bodies*/
#bodies {
	width: 70%;
	float: left;
}
#bodies h1{
	font-family: "Times New Roman";
	font-size: 70px;
	text-align: center;
	margin: 200px;
	margin-bottom: 0;
	justify-content: center;
}
#bodies h2{
	font-family: "Times New Roman";
	font-size: 20px;
	text-align: center;
	margin: 0px;
}
.btn-pos {
	display: flex;
	justify-content: center;
	margin: 100px;
}
/* News-header */
#header-container {
	margin-left: 100px;
	width: 900px;
	height: 400px;
	background-color: #fff;
	border-radius: 40px;
	border-color: #f8db52;
	box-shadow: 15px 15px 0px 0px #d5a515;
	overflow: hidden;
	text-align: center;
	position: relative;
	margin-top: 50px;
	max-width: 100%;
}
.header-box {
	text-align: left;
	position: relative;
	overflow: hidden;
	padding: 40px;
	height: 100%;
	float: right;
	width: 50%;
}
#header-container .header-box h1 {
	font-size: 30px;
	display: inline-block;
	position: relative;
	margin: 0;
	font-family: 'Courier Prime';
	text-align: left;
}
#header-container .header-box > p {
	font-family: 'Times New Roman';
	text-align: left;
	font-size: 15px;
	margin-top: 20px;
	color: #000;
}
.header-img {
	padding-top: 30px;
	padding-left: 0px;
}
.header-img-style {
	border-radius: 20px;
	width: 350px;
}
/*header-second*/
#header-container-second {
	margin-left: 100px;
	width: 750px;
	height: 350px;
	background-color: #fff;
	border-radius: 40px;
	border-color: #f8db52;
	box-shadow: 15px 15px 0px 0px #d5a515;
	overflow: hidden;
	text-align: center;
	position: relative;
	margin-top: 50px;
	max-width: 100%;
}
.header-box-second {
	text-align: left;
	position: relative;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: right;
	width: 50%;
}
#header-container-second .header-box-second h1 {
	font-size: 30px;
	display: inline-block;
	position: relative;
	margin: 0;
	font-family: 'Courier Prime';
	text-align: left;
}
#header-container-second .header-box-second > p {
	font-family: 'Times New Roman';
	text-align: left;
	font-size: 15px;
	margin-top: 20px;
	color: #000;
}
.header-img-second {
	padding-top: 10px;
	padding-left: 0px;
}
.header-img-style-second {
	border-radius: 20px;
	width: 330px;
}
/* Bodies-btnrs */
.btnr {
	
	background-color:#ffffff;
	border-radius:10px;
	border:1px solid #ffff00;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Times New Roman;
	font-size:15px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #d5a515;
}
.btnr:hover {
	background-color:#ffffff;
	box-shadow: 7px 7px 0px 0px #d5a515;
	transition: 0.4s;
}
.btnr:active {
	position:relative;
	top:1px;
}

/* Right-Feeds */
#right-feeds {
	float: right;
	width: 30%;
	border-left: 2px solid #d5a515;
	height: 900px;
	margin-right: -400px;
	margin-top: -850px;
	display: block;
}
#right-header {
	margin-left: 10px;
	width: 400px;
	height: 100px;
	background-color: #fff;
	border-radius: 30px;
	border-color: #f8db52;
	overflow: hidden;
	position: relative;
	max-width: 100%;
	margin-top: 25px;
}
.right-box {
	text-align: left;
	position: relative;
	overflow: hidden;
	padding: 5px;
	padding-left: 0px;
	padding-top: 10px;
	padding-right: 10px;
	height: 100%;
	float: right;
	width: 70%;
}
#right-header .right-box h1 {
	display: inline-block;
	position: relative;
	margin: 0;
	font-family: 'Courier Prime';
	text-align: left;
	font-size: 15px;
}
#right-header .right-box > p {
	font-family: 'Times New Roman';
	text-align: left;
	font-size: 13px;
	margin-top: 4px;
	color: #000;
}
.right-header-img {
	padding-top: 5px;
	padding-left: 20px;
}
.right-header-img-style {
	border-radius: 15px;
	width: 90px;
}
#right-header:hover {
	box-shadow: 15px 15px 0px 0px #d5a515;
	transition: 0.4s;
}

/*Prototype*/
#loadmore {
	display: none;
}
#load-fn-dnone {
	display: block;
	width: 160px;
	justify-content: center;
}
#close-load-fn {
	width: 160px;
	text-align: center;
}
.opn-fn-pos {
	margin-left: 135px;
	margin-top: 20px;
}
.cls-fn-pos {
	margin-left: 135px;
	margin-top: 20px;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin-left: 0;
}
.footer{
	background-color: #d5a515;
    padding: 70px 0;
    width: 2000px;
    position: relative;
    margin-top: 1000px;
    max-width: 150%;
}
.footer-col{
   width: 20%;
   padding: 0 15px;
}
.footer-col-img{
   margin-left: -120px;
   display: flex;
   margin-right: 170px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
} 
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer-logo {
	border-radius: 30px;
	margin-left: 5px;
}
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/* Mobile-Ver */
@media screen and (max-width: 1024px) {
	.mobile-logo {
		display: block;
	}
	.mobile-logo-size {
		width: 250px;
		max-width: 100%;
		margin-top: 100px;
	}
	.default-logo {
		display: none;
	}
	#header-container {
		margin-top: 200px;
		width: 800px;
	}
	.header-img-style {
		width: 100%;
	}
}